*{
    box-sizing: border-box;
}

body,
header,
section,
footer,
h1,
h2,
h3,
h4,
p {
    font-weight: normal;
    font-family: 'Sans', sans-serif;
    margin: 0;
    border: 1px solid black;
        background-color: rgb(255, 0, 0,.1);
    padding: 0;
}


.header {
    height: 100vh;
    background-color: aliceblue;
}

.header-image {
    display: block;
    height: 85%;
    margin: auto;
}

.header-name {
    text-align: center;
}

.card {
    width: 50%;
    height: 250px;
    background-color: antiquewhite;
}

.card-image {
    display: flex;
    height: 95%;
    width: 95%;
    margin-top: .75%;
    margin-left: .75%;
}

.card-name {
    text-align: center;
}

.card-head-box {
    display: inline-block;
    height: 85%;
    width: 50%;
    margin: 0;
    background-color: rgba(255, 0, 0, 0.337);

}

.card-description-box {
    display: inline-block;
    height: 85%;
    width: 45%;
    padding: 10%;
    margin: 0;
    background-color: aqua;
}

.card-description {
    display: flex;
    margin: auto;
    text-align: center;
}

