*{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p{
    margin: 0;
    font-weight: normal;
    background-color: red;
    font-family: 'Sans', sans-serif;

}

div, header, main, footer {
    margin: 0;
}

p {

}

.main-preview{
    text-align: center;
    background-color: blue;
    width: 100%;
    height: 80vh;
}

section{
    background-color: darkred;
    margin: auto;
    text-align: center;
    width: 100%;
}
.card {
    display: block;
    background-color: saddlebrown;
    margin: 20px 0 20px 0;
    padding: 20px;
    height: 600px;
    width: 80%;
    border: 1px solid lightgray;
}

.snap-left{
    margin-right: auto;
}

.snap-right{
    margin-left: auto;

}

.card-description {

}
.card-head-block{
    display: inline-block;
    text-align: center;
    background-color: orange;
}
.card-description-box {
    height: 80%;
    width: 30%;
    display: inline-block;
    background-color: white;
    margin: 0 auto 0 auto;
}

.card-image{
    display: block;
}
