*{
    box-sizing: border-box;
}

body ,header, section, footer{
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    color: #e4c373;
    font-family: 'MesloLGS NF', sans-serif;

}

h1 {
    font-weight: 600;
}

p {
    font-weight: lighter;
}




.section {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #bdad60;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: saddlebrown;
    border: solid 5px #2a1508;
    box-shadow: 10px 10px 20px #2a1508;
}

.card-name {
    margin: 0;
    text-align: center;
}

.card-image {
    display: block;
    margin: 0 auto;
    width: 90%;
    border: solid 1px #2a1508;
}

.card-description {
    margin: 0;
    text-align: center;
}
